@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,800&display=swap');
*{
	font-family: 'Playfair Display', serif;
}
a{
	color: lightcoral;
}
footer{
	position: absolute;
	bottom: 0;
	padding: 10px;
	background-color: #fff;
	width: 100%;
}
.header{
	background: #eddae7;
	padding: 10px;
	padding-top: 0px;
	text-align: center;
	border-radius: 20px;
	border: lightcoral 1px solid;
}
i{
	color: lightcoral;
}